/* ================= HighCourt 样式 ================= */
.theme-wrapper-highcourt {
    position: relative;
    padding: 20px;
    font-family: "Courier New", Courier, monospace;
}

/* ================= 档案纸张主体 ================= */
.shiosai-highcourt-card {
    background: #f3f1ed;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.9' numOctaves='4' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)' opacity='0.15'/%3E%3C/svg%3E");
    width: 100%;
    max-width: 480px;
    position: relative;
    overflow: hidden;
    border-radius: 2px;
    color: #333;
    margin: 10px auto;
    border: 1px solid #ccc;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}

/* ================= 抬头 ================= */
.card-header {
    display: grid;
    margin: 20px 15px;
    margin-bottom: 0;
    position: relative;
    text-align: left;
}

.doc-meta {
    color: #666;
    margin: 15px 0 5px;
    font-size: 0.8em;
    text-transform: uppercase;
    max-width: fit-content;
}

.doc-id,
.doc-date {
    text-align: left;
    border-bottom: 1px dashed;
    margin-bottom: 6px;
}

.doc-id::before,
.doc-date::before {
    content: 'CASE';
    font-size: 0.85em;
    width: fit-content;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.15);
    padding-left: 1px;
    padding-right: 2px;
    margin-right: 4px;
}

.doc-date::before {
    content: 'DATE';
}

.court-logo {
    color: #8b0000;
    font-family: "Cinzel", serif;
    font-variant: small-caps;
    font-size: 1.6em;
    margin-top: 60px;
    font-weight: 500;
    transform: scaleX(0.8);
    transform-origin: left;
    width: fit-content;
    user-select: none;
}

.card-header h2 {
    font-family: "Planschrift", serif;
    color: snow;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.2;
    padding: 2px 5px;
    margin: 0 -5px;
    border-radius: 2px 2px 0 0;
    background: rgba(0, 0, 0, 0.8);
}

/* 现场定性 */
.status-atmosphere {
    padding: 10px 5px 15px;
    margin: 0 -5px;
    font-size: 0.9em;
    background: rgba(0, 0, 0, 0.2);
    font-weight: 600;
}

.status-atmosphere-header {
    color: #666;
    font-size: 0.9em;
    margin-bottom: 5px;
    user-select: none;
}

/* 图片 */
.theme-wrapper-highcourt .img-border {
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 20px;
    height: 140px;
    width: 180px;
    border-radius: 4px;
    background-color: snow;
    box-shadow: 1px 1px 0.1px rgba(0, 0, 0, 0.1);
    transform: rotate(3deg);
    transition: all 0.4s ease-out;
}

.theme-wrapper-highcourt .img-border:hover {
    transform: scale(1.1) rotate(1deg);
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.1);
}

.theme-wrapper-highcourt .img-frame {
    position: absolute;
    inset: 10px;
    bottom: 30px;
    border-radius: 2px;
    background-size: 100% auto;
    background-position: center;
    filter: saturate(0.1) contrast(0.8) sepia(0.3) contrast(0.2) brightness(1.6);
    transition: filter 0.3s ease-out;
}

.theme-wrapper-highcourt .img-border::after {
    content: '图像\A加载中';
    display: flex;
    position: absolute;
    inset: 20px;
    bottom: 40px;
    font-family: "Planschrift", serif;
    line-height: 1.6;
    color: #8b0000;
    border: 1px dashed;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: -1;
    pointer-events: none;
    opacity: 0.4;
    white-space: pre-line;
}

.theme-wrapper-highcourt .img-border:hover>.img-frame {
    filter: saturate(0.1) contrast(0.8) sepia(0.3) contrast(0.8) brightness(1.2);
}

/* 分割线 */
.card-hr {
    height: 2px;
    border-top: 2px solid;
    border-bottom: 1px solid transparent;
    margin: 0 10px;
    transition: border 0.4s;
}

div:has(>.debate-section.is-open)>.card-hr {
    border-bottom: 1px solid currentColor;
}

/* ================= 庭审辩论记录区 ================= */
.debate-section {
    padding: 0 20px;
    opacity: 0;
    max-height: 0;
    pointer-events: none;
    transition: all 0.4s;
}

.debate-section.is-open {
    padding: 30px 20px 10px;
    opacity: 1;
    max-height: 9999px;
    pointer-events: auto;
    transition: all 0.6s;
}

.dialogue-item {
    display: flex;
    align-items: baseline;
    border-top: none;
    border-bottom: 1px dashed #d1ccbe;
    padding: 12px 0;
}

.debate-section>:first-child.dialogue-item,
.debate-section>:not(.dialogue-item)+.dialogue-item {
    border-top: 1px dashed #d1ccbe;
}

.role-name {
    font-weight: bold;
    font-size: 0.95em;
    width: 65px;
    flex-shrink: 0;
    text-transform: uppercase;
    text-align: right;
    margin-right: 15px;
    user-select: none;
}

.char-yuki .role-name {
    color: #8a0039;
}

.char-mio .role-name {
    color: #004080;
}

.char-generic .role-name {
    color: #5c755c;
}

.dialogue-text {
    font-size: 0.8em;
    line-height: 1.4;
    color: #222;
    flex: 1;
}

/* 书记员备注 */
.action-text {
    font-family: "851tegakizatsu", serif;
    margin: 15px -20px;
    padding: 8px 20px;
    font-size: 0.9em;
    line-height: 1.6;
    font-style: italic;
    color: #5e8499;
    text-shadow: 0 0 1px #333;
    text-align: center;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    background: rgba(0, 0, 0, 0.1);
}

.action-text-header {
    font-family: "Courier New", Courier, monospace;
    font-size: 0.75em;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 1px;
    color: #666;
    margin-bottom: 5px;
    text-shadow: none;
    user-select: none;
}

/* 打码效果 */
:not(.action-text)>.mosaic-blackout {
    color: transparent;
    background: rgba(0, 0, 0, 0.75);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    -webkit-box-decoration-break: slice;
    box-decoration-break: slice;
    padding: 1px 2px 0 2px;
    margin: 0 -2px 0 -2px;
    border-radius: 2px;
    box-shadow: inset 0 0 4px black;
    transition: all 0.3s ease-out;
    user-select: none;
}

.mosaic-blackout:hover {
    color: inherit;
    background: transparent;
    box-shadow: none;
    user-select: auto;
}

.card-footer {
    position: relative;
    height: 25px;
    pointer-events: none;
    opacity: 1;
    animation: close-tips 4s ease-out infinite;
}

.card-footer::after {
    content: "— 点击展开 —";
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    color: #aaa;
    font-size: 0.7em;
    letter-spacing: 1.2em;
    padding-left: 1.2em;
}

.debate-section.is-open~.card-footer::after {
    content: "| 点击关闭 |";
}

/* ================= 判决书触发按钮 ================= */
.verdict-trigger {
    display: block;
    position: relative;
    justify-self: flex-end;
    font-family: "Planschrift", serif;
    font-size: 1.2em;
    color: #666;
    width: fit-content;
    cursor: pointer;
    user-select: none;
    opacity: 0.6;
    padding: 10px 0;
    margin: -10px 0;
    transition: opacity 0.4s ease-out;
}

.verdict-trigger:hover {
    opacity: 1;
}

.verdict-trigger::before {
    position: absolute;
    content: 'top secret';
    top: 0;
    left: 0;
    font-family: "Stardos Stencil", system-ui;
    font-size: 1.2em;
    font-weight: 700;
    text-align: center;
    color: #b40000;
    line-height: 1.1;
    text-transform: uppercase;
    opacity: 0.2;
    padding: 4px 8px;
    mix-blend-mode: multiply;
    transform: rotate(-6deg) translate(-30px, -20px);
    transition: opacity 0.3s ease-out;
}

.verdict-trigger:hover::before {
    opacity: 0.6;
}